<!-- @include _header -->

#main-content
  .container
    %h3.page-title Coming up at Clubs & Bars

    .row
      .col-md-6.col-sm-12
        <a href="<!-- @path profile -->">
        .event-box-feature
          .img-container
            <img src="<!-- @path Foto-Bar.jpg -->" class="img-feature"/>
            .event-title-feature
              .event-category-feature 
                Today
                %span 07.09.2014
                Berghain Berlin
              %h4 Elektroakustischer Salon: Art’s Birthday 2014 
          %p.benefit
            %span Member Benefit
            Free Entry until 23:00
        </a>

      .clearfix.visible-sm

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Tomorrow,
            %span 08.09.2014
          .img-container
            .event-location Felix Club Restaurant Berlin
            <img src="<!-- @path club-01 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title After Trade Party
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Tu,
            %span 09.09.2014
          .img-container
            .event-location FritzClub im Postbahnhof
            <img src="<!-- @path club-02 -->"  class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Concert: Kilians
              <hr>
              %p.benefit
                %span Member Benefit
                Bring a friend
        </a>

    ////////// 2. Zeile //////////   

    .row
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Fr,
            %span 10.09.2014
          .img-container
            .event-location Matrix Club Berlin
            <img src="<!-- @path club-04 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title United Campus!
              <hr>
              %p.benefit
                %span Member Benefit
                1 Becks 4 free
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Sa,
            %span 11.09.2014
          .img-container
            .event-location Lido
            <img src="<!-- @path club-06 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Rock AG
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance all night long
        </a>

      .clearfix.visible-sm

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Su,
            %span 12.09.2014
          .img-container
            .event-location Gretchen
            <img src="<!-- @path club-07 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Appetite: Kaytranada
              <hr>
              %p.benefit
                %span Member Benefit
                50 % ticket discount
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Mo,
            %span 13.09.2014
          .img-container
            .event-location L.U.X.
            <img src="<!-- @path club-05 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title The Blueblack Hussar Tour
              <hr>
              %p.benefit
                %span Member Benefit
                Get a drink for you and one friend
        </a>


    ////////// 3. Zeile //////////   

    .row
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Tu,
            %span 14.09.2014
          .img-container
            .event-location Ma Baker Club Berlin
            <img src="<!-- @path club-09 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Backstreet Boys - Kalkbrenner - Boney M
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Fr,
            %span 15.09.2014
          .img-container
            .event-location Traffic Berlin
            <img src="<!-- @path club-10 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Be Nerd be Cool
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance and a welcome drink
        </a>

      .clearfix.visible-sm

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Mo,
            %span 18.09.2014
          .img-container
            .event-location Chalet Berlin
            <img src="<!-- @path club-13 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Limited Monday
              <hr>
              %p.benefit
                %span Member Benefit
                Welcome present
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Tu,
            %span 19.09.2014
          .img-container
            .event-location AVENUE Berlin
            <img src="<!-- @path club-14 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title The Rnb Sessions Vol. I
              <hr>
              %p.benefit
                %span Member Benefit
                Come with three friends and get a bottle Champagne
        </a>

    ////////// 4. Zeile //////////   

    .row
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            We,
            %span 20.09.2014
          .img-container
            .event-location Freischwimmer
            <img src="<!-- @path club-15 -->"  class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title RECYCLE - Berlin's finest Drum'n'Bass: Camo & Krooked feat A.M.I.E.
              <hr>
              %p.benefit
                %span Member Benefit
                Free Vodka Bull
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Th,
            %span 21.09.2014
          .img-container
            .event-location FritzClub im Postbahnhof
            <img src="<!-- @path club-21 -->"  class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title It’s Belvedere Night
              <hr>
              %p.benefit
                %span Member Benefit
                One Shot Belvedere Vodka
        </a>

      .clearfix.visible-sm

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Sa,
            %span 22.09.2014
          .img-container
            .event-location Lido
            <img src="<!-- @path club-17 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Rock AG
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance all night long
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Su,
            %span 23.09.2014
          .img-container
            .event-location Ma Baker Club Berlin
            <img src="<!-- @path club-18 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Backstreet Boys - Kalkbrenner - Boney M
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance
        </a>

    ////////// 5. Zeile //////////  

    .row
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Sa,
            %span 17.09.2014
          .img-container
            .event-location Adagio Berlin
            <img src="<!-- @path club-11 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Ladies Night
              <hr>
              %p.benefit
                %span Member Benefit
                Men Strip & Free Prosecco for ladies only
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Su,
            %span 17.09.2014
          .img-container
            .event-location 40 Seconds Club
            <img src="<!-- @path club-12 -->"  class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title The Penthouse Hype
              <hr>
              %p.benefit
                %span Member Benefit
                Free entry until 24:00
        </a>

      .clearfix.visible-sm

      .col-sm-6
        <a href="<!-- @path profile -->">
        .event-box-feature
          .img-container
            <img src="<!-- @path club-05 -->" class="img-feature"/>
            .event-title-feature
              .event-category-feature
                Thirsday
                %span 13.09.2014
                L.U.X.
              %h4 The Blueblack Hussar Tour
          %p.benefit 
            %span Member Benefit
            Get a drink for you and one friend
        </a>

    ////////// 6. Zeile //////////   

    .row
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Mo,
            %span 24.09.2014
          .img-container
            .event-location Puro Sky Lounge Berlin
            <img src="<!-- @path club-19 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title I love you but I’ve chosen disco
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Tu,
            %span 25.09.2014
          .img-container
            .event-location Traffic Berlin
            <img src="<!-- @path club-20 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Be Nerd be Cool
              <hr>
              %p.benefit
                %span Member Benefit
                Free entrance and a welcome drink
        </a>

      .clearfix.visible-sm

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            We,
            %span 26.09.2014
          .img-container
            .event-location Adagio Berlin
            <img src="<!-- @path club-11 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Ladies Night
              <hr>
              %p.benefit
                %span Member Benefit
                Men Strip & Free Prosecco for ladies only
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Th,
            %span 27.09.2014
          .img-container
            .event-location 40 Seconds Club
            <img src="<!-- @path club-12 -->"  class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title The Penthouse Hype
              <hr>
              %p.benefit
                %span Member Benefit
                Free entry until 24:00
        </a>

    ////////// 7. Zeile //////////   

    .row
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Sa,
            %span 28.09.2014
          .img-container
            .event-location Gretchen
            <img src="<!-- @path club-07 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Appetite: Kaytranada
              <hr>
              %p.benefit
                %span Member Benefit
                50 % ticket discount
        </a>
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Su,
            %span 29.09.2014
          .img-container
            .event-location Matrix Club Berlin
            <img src="<!-- @path club-16 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title United Campus!
              <hr>
              %p.benefit
                %span Member Benefit
                1 Becks 4 free
        </a>

      .clearfix.visible-sm

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Mo,
            %span 30.09.2014
          .img-container
            .event-location AVENUE Berlin
            <img src="<!-- @path club-14 -->" class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title The Rnb Sessions Vol. I
              <hr>
              %p.benefit
                %span Member Benefit
                Come with three friends and get a bottle Champagne
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .event-date
            Tu,
            %span 01.10.2014
          .img-container
            .event-location Freischwimmer
            <img src="<!-- @path club-08 -->"  class="img-thumb"/>
          .flex-container
            .info-containter
              %h4.event-title Drum'n'Bass: Camo & Krooked
              <hr>
              %p.benefit
                %span Member Benefit
                Free Vodka Bull
        </a>

<!-- @include _footer_categories -->
<!-- @include _footer -->
