<!-- @include _header -->

#main-content.one-business
  .container
    %a(href="<!-- @path membership-detail -->")
      <img src="<!-- @path screen-content-overview -->" class="content-overview">

<!-- @include _footer -->
