<!-- @include _header -->


#main-content.one-business
  .container
    .row
      .col-sm-8.col-lg-7
        %h3.page-title Become a Member
        <img src="<!-- @path screen-content-detail -->" class="screen">

      .col-sm-4.col-lg-offset-1
        <img src="<!-- @path screen-content-detail-side -->" class="screen detail-side">


<!-- @include _footer -->

