<!-- @include _header -->
<!-- @include _nav-one-business -->

#main-content.one-business
  .container
    %h3.page-title Specails/Events

    %a(href="<!-- @path one-business-add-event -->")
      <img src="<!-- @path screen-one-b-events-overview -->" class="screen">

<!-- @include _footer -->
