<!-- @include _header -->
<!-- @include _nav-one-business -->

#main-content.one-business
  .container
    %h3.page-title Add Specail/Event

    %a(href="<!-- @path one-business-specials -->")
      <img src="<!-- @path screen-one-b-add-event -->" class="screen">

<!-- @include _footer -->
