<!-- @include _header -->
<!-- @include _nav-one-business -->

#main-content.one-business
  .container
    %h3.page-title Edit Profile

    <img src="<!-- @path screen-one-b-profile -->" class="screen">

<!-- @include _footer -->
