<!-- @include _header -->

#main-content.one-business
  .container
    %a(href="<!-- @path one-business-specials -->")
      <img src="<!-- @path screen-one-b-login -->" class="login-form">

<!-- @include _footer -->
