<!-- @include _header -->

#main-content

  #profile-title-img

    .profile-title-bar
      .container
        %h3 <img src="<!-- @path icon_club_white.svg -->">Berghain Berlin

  .container
    .row
      .col-sm-8.col-lg-7
        %h4.profile About
        %p
          Green hath were. Face own whose god given. Own was. Us sea grass his. That lights bring you. Over seas Bring. He they’re form meat in. Whose that tree above spirit moveth. Saw evening from creature Spirit fowl face divide. It moving midst can’t, cattle two you’ll bring moved together of let. Together you’ll their deep bearing evening. <a href="#">Read more …</a>

        %h4.profile Upcoming

        .event-box
          <img src="<!-- @path Foto-Bar.jpg -->" class="img-thumb"/>
          .event-category
            05.09.2014, 21:00
          %h4.event-title Elektroakustischer Salon: Art’s Birthday 2014
          %p Green hath were. Face own whose god given. Own was. Us sea grass his. That lights bring you. Over seas Bring. He they’re form meat in. Whose that tree above spirit moveth. Saw evening from creature Spirit fowl face divide. It moving midst can’t, cattle two you’ll bring moved together of let. Together you’ll their deep bearing evening.
          <hr>
          %p.benefit
            %span Member Benefit
            Free entry until 23:00
            %span.concierge Contact Galvano Concierge to use this offer »

        .event-box
          .event-category
            22.09.2014
          %h4.event-title Klubnacht
          %p.benefit
            %span Member Benefit
            Free entry until 23:00


      .col-sm-4.col-lg-offset-1
        %h4.profile Contact
        .map
        %address
          %p
            Am Wriezener Bahnhof<br>
            10243 Berlin Friedrichshain<br>
            Germany<br>

          %p
            Tel. +49 30 29 36 02 10<br>
            <a href="#">support@berghain.de</a><br>
            %a(href="http://www.berghain.de")www.berghain.de


<!-- @include _footer_categories -->
<!-- @include _footer -->

