<!-- @include _header -->

#main-content

  #profile-title-img

    .profile-title-bar
      .container
        %h3 <img src="<!-- @path icon_club_white.svg -->">Berghain Berlin

  .container
    .row
      .col-sm-8
        %h4.profile About
        %p
          Green hath were. Face own whose god given. Own was. Us sea grass his. That lights bring you. Over seas Bring. He they’re form meat in. Whose that tree above spirit moveth. Saw evening from creature Spirit fowl face divide. It moving midst can’t, cattle two you’ll bring moved together of let. Together you’ll their deep bearing evening. <a href="#">Read more …</a>
      .col-sm-4
        %h4.profile Contact



<!-- @include _footer -->

