<!-- @include _header -->
<!-- @include _nav-categories -->

#main-content.profile-page

  #profile-title-img

    .profile-title-bar
      .container
        %h3 <img src="<!-- @path icon_club_white.svg -->">Berghain Berlin

  .container
    .row
      .col-sm-8.col-lg-7
        %h4.profile About
        %p
          Green hath were. Face own whose god given. Own was. Us sea grass his. That lights bring you. Over seas Bring. He they’re form meat in. Whose that tree above spirit moveth. Saw evening from creature Spirit fowl face divide. It moving midst can’t, cattle two you’ll bring moved together of let. Together you’ll their deep bearing evening. <a href="#">Read more …</a>

        %h4.profile Upcoming

        .event-box
          .event-title
            <img src="<!-- @path Foto-Bar.jpg -->" class="img-thumb"/>
            %h4
              %span.event-date 05.09.2014, 21:00
              Elektroakustischer Salon: Art’s Birthday 2014
          %p Green hath were. Face own whose god given. Own was. Us sea grass his. That lights bring you. Over seas Bring. He they’re form meat in. Whose that tree above spirit moveth. Saw evening from creature Spirit fowl face divide. It moving midst can’t, cattle two you’ll bring moved together of let. Together you’ll their deep bearing evening.
          <hr>
          %p.benefit
            %span Member Benefit
            Free entry until 23:00
            %span.concierge Contact Galvano Concierge to use this offer »

        .event-box
          .event-title
            %h4.no-img
              %span.event-date 22.09.2014
              Klubnacht
          %p.benefit
            %span Member Benefit
            Free entry until 23:00


      .col-sm-4.col-lg-offset-1
        %h4.profile Contact
        .map
        %address
          %p
            Am Wriezener Bahnhof<br>
            10243 Berlin Friedrichshain<br>
            Germany<br>

          %p
            Tel. +49 30 29 36 02 10<br>
            <a href="#">support@berghain.de</a><br>
            %a(href="http://www.berghain.de")www.berghain.de

          %ul.social
            %li
              %a(href="#")
                %i.fa.fa-facebook
                Facebook
            %li
              %a(href="#")
                %i.fa.fa-twitter
                Twitter
            %li
              %a(href="#")
                %i.fa.fa-pinterest
                Pinterest

        %h4.profile Share
        / Facebook
        <div id="fb-root"></div>
        <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=117842891711482"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div><br><br>
        / Twitter
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br><br>
        / Pinterest
        <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
              


<!-- @include _footer_categories -->
<!-- @include _footer -->

