<!-- @include _header -->

#main-content.today
  .container
    %h3.page-title Berlin today

    .row
      .col-sm-6
        <a href="<!-- @path profile -->">
        .event-box-feature
          .img-container
            <img src="<!-- @path Foto-Bar.jpg -->" class="img-feature"/>
            .event-title-feature
              .event-category-feature 
                <img src="<!-- @path icon_club_white.svg -->">
                Berghain Berlin
              %h4 Elektroakustischer Salon: Art’s Birthday 2014 
          %p.benefit
            %span Member Benefit
            Free Entry until 23:00
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .img-container <img src="<!-- @path Foto-Restaurant -->"/>
          .flex-container
            .info-containter
              .event-category
                <img src="<!-- @path icon_restaurant_sml -->">
                Brooklyn Beef Club
              %h4.event-title Business Lunch
              <hr>
              %p.benefit
                %span Member Benefit
                Free drink to the menu
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .img-container <img src="<!-- @path Foto-Shop.jpg -->"/>
          .flex-container
            .info-containter
              .event-category
                <img src="<!-- @path icon_shop_sml.svg -->">
                Six Seasons
              %h4.event-title Silver jewelry and textiles from Bangladesh
              <hr>
              %p.benefit
                %span Member Benefit
                20 % Discount
        </a>

    .row
      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .img-container <img src="<!-- @path Foto-Services.jpg -->"/>
          .flex-container
            .info-containter
              .event-category
                <img src="<!-- @path icon_services_sml.svg -->">
                Jet Textilreinigung
              %h4.event-title Dry Cleaning
              <hr>
              %p.benefit
                %span Member Benefit
                The fifth shirt is free
        </a>

      .clearfix.visible-sm

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .img-container <img src="<!-- @path Foto-Hotel.png -->"/>
          .flex-container
            .info-containter
              .event-category
                <img src="<!-- @path icon_hotel_sml.svg -->">
                Hotel Dolder Grand
              %h4.event-title 5 Stars Hotel with Spa and Wellness Berlin
              <hr>
              %p.benefit
                %span Member Benefit
                Free room upgrade
        </a>

      .col-md-3.col-sm-6
        <a href="<!-- @path profile -->">
        .event-box
          .img-container <img src="<!-- @path Foto-Cafe.jpg -->"/>
          .flex-container
            .info-containter
              .event-category
                <img src="<!-- @path icon_cafe_sml.svg -->">
                Xara Café Lounge Berlin Mitte
              %h4.event-title Best Cocktails in Town
              <hr>
              %p.benefit
                %span Member Benefit
                First house bill
        </a>

<!-- @include _footer_categories -->
<!-- @include _footer -->


