.footer-category-links
  .container
    %h4 More Benefits in Berlin
    
    %nav
      %ul
        %li
          %a(href="<!-- @path category-clubs-bars -->") <img src="<!-- @path icon_club_white.svg -->"> Clubs & Bars
        %li
          %a(href="#") <img src="<!-- @path icon_club_white.svg -->"> Hotels
        %li
          %a(href="#") <img src="<!-- @path icon_club_white.svg -->"> Restaurants
        %li
          %a(href="#") <img src="<!-- @path icon_club_white.svg -->"> Cafés & Lounges
        %li
          %a(href="#") <img src="<!-- @path icon_club_white.svg -->"> Shops
        %li
          %a(href="#") <img src="<!-- @path icon_club_white.svg -->"> Services