.footer-category-links
  .container
    %h4 More Benefits in Berlin
    .row
      .col-sm-2
        %a(href="<!-- @path category-clubs-bars -->")
          <img src="<!-- @path icon_club_white.svg -->">
          Clubs & Bars
      .col-sm-2
        %a(href="#")
          <img src="<!-- @path icon_club_white.svg -->">
          Hotels
      .col-sm-2
        %a(href="#")
          <img src="<!-- @path icon_club_white.svg -->">
          Restaurants
      .col-sm-2
        %a(href="#")
          <img src="<!-- @path icon_club_white.svg -->">
          Cafés & Lounges
      .col-sm-2
        %a(href="#")
          <img src="<!-- @path icon_club_white.svg -->">
          Shops
      .col-sm-2
        %a(href="#")
          <img src="<!-- @path icon_club_white.svg -->">
          Services