<!-- @reload -->

%html

  %head
    %title Galvano One
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6035872/766964/css/fonts.css" />
    <!-- @stylesheet style -->
    <!-- @javascript less jquery-1.8.3.min jquery.sticky  -->
    <script>$(window).load(function(){$("#nav-categories").sticky({ topSpacing: 0 });});</script>


  %body

    %header
      #nav-main
        .container 
          %h1
            %a(href="<!-- @path today -->")Galvano One

          %nav
            %ul.nav-pills
              %li
                %a(href="<!-- @path membership -->") Become a Member
              %li
                %a(href="#") About Galvano One
              %li
                %a(href="#") One Business