<!-- @reload -->

%html

  %head
    %title Galvano One
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6035872/766964/css/fonts.css" />
    <!-- @stylesheet style -->
    <!-- @javascript less jquery-1.8.3.min jquery.sticky  -->
    <script>$(window).load(function(){$("#nav-categories").sticky({ topSpacing: 0 });});</script>


  %body

    %header
      #nav-main
        .container 
          %h1 Galvano One

          %nav
            %ul.nav-pills
              %li
                %a(href="#") About Galvano One
              %li
                %a(href="#") One Business

      #nav-categories
        .container
          %h2 <a href="<!-- @path today -->">Berlin</a>

          %nav
            %ul
              %li <a href="<!-- @path category-clubs-bars -->"><img src="<!-- @path icon_club_sml.svg -->">Clubs & Bars</a>
              %li <a href="#"><img src="<!-- @path icon_hotel_sml.svg -->">Hotels</a>
              %li <a href="#"><img src="<!-- @path icon_restaurant_sml.svg -->">Restaurants</a>
              %li <a href="#"><img src="<!-- @path icon_cafe_sml.svg -->">Cafés & Lounges</a>
              %li <a href="#"><img src="<!-- @path icon_shop_sml.svg -->">Shops</a>
              %li <a href="#"><img src="<!-- @path icon_services_sml.svg -->">Services</a>