#nav-categories
  .container
    %h2 <a href="<!-- @path today -->">Berlin <i class="fa fa-sort"></i></a>

    %nav
      %ul
        %li
          %a(a href="<!-- @path category-clubs-bars -->")
            %i.fa.fa-glass
            Clubs & Bars
        %li
          %a(a href="<!-- @path today-2 -->")
            %i.fa.fa-home
            Hotels
        %li
          %a(a href="<!-- @path today-3 -->")
            %i.fa.fa-cutlery
            Restaurants
        %li
          %a(a href="#")
            %i.fa.fa-coffee
            Coffee & Lounges
        %li
          %a(a href="#")
            %i.fa.fa-shopping-cart
            Shops
        %li
          %a(a href="#")
            <img src="<!-- @path icon_services_sml.svg -->">
            Services