#nav-one-business
  .container
    %h2 Berghain Berlin

    %nav
      %ul
        %li
          %a(href="<!-- @path one-business-specials -->")
            %i.fa.fa-star 
            Specials/Events
        %li
          %a(href="#")
            %i.fa.fa-camera 
            Picutes
        %li
          %a(href="#")
            %i.fa.fa-book 
            Profile
        %li
          %a(href="#")
            %i.fa.fa-cog 
            Account